nav {
  background-color: transparent;
  position: absolute;
  z-index: 9999;
  padding: 20px;
  width: 100%;

  a {
    padding: 20px;
    color: $color-accent;
    &:hover {
      color: $color-primary;
    }
  }
}

.navbar {
  position: relative;
}

.pull-right {
  float: right;
}
