@import '../variables';
@import '../mixins';

.users-form {

  label {
    display: block;
    margin-bottom: 5px;
    color: lighten($color-primary,10%);
  }

  hr {
    height: 10px;
    visibility: hidden;
  }

  form {
    width: 80%;
    margin: 0 auto;
  }

  button {
    display: block;
    margin: 0 auto;
    width: 200px;
  }
}

.form-control {
  margin: 0 auto;
  display: inline-block;
  padding: .4em 1.3em;
  text-align: center;
  width: 100%;
  background-color: white;
  border: none;
  &:focus {
    outline: none;
  }
}

.form-control {
  @include step2v2( 4px, lighten($color-primary, 10%) , white );
}
