$color-primary: #4b367c;
$color-secondary: grey;
$color-accent: white;

$font-size-h1: 70px;
$font-size-h2: 50px;
$font-size-p: 14px;

$font-h1: '8bit_wondernominal';
$font-h2: 'thin_pixe-l7regular';
$font-p: 'press_start_kregular';
