@import './variables';
@import './partials/navbar';
@import './partials/typography';
@import './partials/spinner';
@import './partials/button';
@import './components/homepage';
@import './components/streams-card';
@import './components/users-show';
@import './components/users-form';

* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  min-height: 100%;
}

body {
  background-image:url('https://imgur.com/M4kQJeZ.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  padding: 7%;
}
