@import './variables';
@import './partials/navbar';
@import './partials/typography';
@import './partials/button';
@import './components/homepage';
@import './components/streams-index';
@import './components/users-form';

* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  background-color: grey;
}

li {
  list-style: none;
}
